<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{else match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}
    <style>
        .css-v5csy4 {
            display: flex;
            width: 100%;
            background-color: rgb(255, 255, 255);
            box-shadow: rgb(83 122 120 / 15%) 0px 2px 20px;
        }
        .css-83nni6 {
            width: 100%;
            margin-inline: auto;
            max-width: 1440px;
            padding-inline: 1rem;
        }
        .css-uh7iy7 {
            margin-left: -16px;
            margin-right: -16px;
            padding-left: 110px;
            padding-right: 110px;
            padding-top: 12px;
            padding-bottom: 12px;
            color: rgb(0, 0, 0);
            height: 70px;
            font-size: 16px;
        }
        .css-70qvj9 {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }
        .css-1wuwsm5 {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding: 4px;
        }
        .css-r7idry {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex: 1 1 0%;
            margin-left: 60px;
            gap: 30px;
            color: rgb(29, 29, 27);
        }
        .css-1uawyxg {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(25, 76, 168);
        }
        .css-3cooi4 {
            display: flex;
            cursor: pointer;
            font-weight: 700;
        }
        .css-1wi81s {
            margin-left: 0.4rem;
        }
    </style>
</head>
<body class="{{body_class}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Modern sans-serif"}} has-sans-body{{/match}}{{#if @custom.show_publication_cover}} has-cover{{/if}}{{#is "home"}}{{#unless @custom.show_logo_in_navigation}} no-logo{{/unless}}{{/is}}">
<div class="viewport">

    <div class="css-v5csy4">
        <div class="chakra-container css-83nni6">
            <header class="css-uh7iy7">
                <div class="css-70qvj9">
                    <a href="https://test.kktrip.com.tw/">
                        <div class="css-1wuwsm5">
                            <span
                                style="
                                    box-sizing: border-box;
                                    display: inline-block;
                                    overflow: hidden;
                                    width: initial;
                                    height: initial;
                                    background: none;
                                    opacity: 1;
                                    border: 0px;
                                    margin: 0px;
                                    padding: 0px;
                                    position: relative;
                                    max-width: 100%;
                                "
                                ><span
                                    style="
                                        box-sizing: border-box;
                                        display: block;
                                        width: initial;
                                        height: initial;
                                        background: none;
                                        opacity: 1;
                                        border: 0px;
                                        margin: 0px;
                                        padding: 0px;
                                        max-width: 100%;
                                    "
                                    ><img
                                        alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27150%27%20height=%2735%27/%3e"
                                        style="
                                            display: block;
                                            max-width: 100%;
                                            width: initial;
                                            height: initial;
                                            background: none;
                                            opacity: 1;
                                            border: 0px;
                                            margin: 0px;
                                            padding: 0px;
                                        " /></span
                                ><img
                                    alt="logo"
                                    src="https://test.kktrip.com.tw/static/colorTwLogo.svg"
                                    decoding="async"
                                    data-nimg="intrinsic"
                                    style="
                                        position: absolute;
                                        inset: 0px;
                                        box-sizing: border-box;
                                        padding: 0px;
                                        border: none;
                                        margin: auto;
                                        display: block;
                                        width: 0px;
                                        height: 0px;
                                        min-width: 100%;
                                        max-width: 100%;
                                        min-height: 100%;
                                        max-height: 100%;
                                    "
                                />
                            </span>
                        </div>
                    </a>
                    <div class="css-r7idry">
                        <a href="https://test.kktrip.com.tw/hotel">
                            <div class="css-3cooi4">
                                <span
                                    style="
                                        box-sizing: border-box;
                                        display: inline-block;
                                        overflow: hidden;
                                        width: initial;
                                        height: initial;
                                        background: none;
                                        opacity: 1;
                                        border: 0px;
                                        margin: 0px;
                                        padding: 0px;
                                        position: relative;
                                        max-width: 100%;
                                    "
                                    ><span
                                        style="
                                            box-sizing: border-box;
                                            display: block;
                                            width: initial;
                                            height: initial;
                                            background: none;
                                            opacity: 1;
                                            border: 0px;
                                            margin: 0px;
                                            padding: 0px;
                                            max-width: 100%;
                                        "
                                        ><img
                                            alt=""
                                            aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2718%27/%3e"
                                            style="
                                                display: block;
                                                max-width: 100%;
                                                width: initial;
                                                height: initial;
                                                background: none;
                                                opacity: 1;
                                                border: 0px;
                                                margin: 0px;
                                                padding: 0px;
                                            " /></span
                                    ><img
                                        alt="hotel"
                                        src="https://test.kktrip.com.tw/static/menuHotel.svg"
                                        decoding="async"
                                        data-nimg="intrinsic"
                                        style="
                                            position: absolute;
                                            inset: 0px;
                                            box-sizing: border-box;
                                            padding: 0px;
                                            border: none;
                                            margin: auto;
                                            display: block;
                                            width: 0px;
                                            height: 0px;
                                            min-width: 100%;
                                            max-width: 100%;
                                            min-height: 100%;
                                            max-height: 100%;
                                        "
                                /></span>
                                <p class="chakra-text css-1wi81s">酒店探索</p>
                            </div>
                        </a>
                        <a href="https://test.kktrip.com.tw/local-trip">
                            <div class="css-3cooi4">
                                <span
                                    style="
                                        box-sizing: border-box;
                                        display: inline-block;
                                        overflow: hidden;
                                        width: initial;
                                        height: initial;
                                        background: none;
                                        opacity: 1;
                                        border: 0px;
                                        margin: 0px;
                                        padding: 0px;
                                        position: relative;
                                        max-width: 100%;
                                    "
                                    ><span
                                        style="
                                            box-sizing: border-box;
                                            display: block;
                                            width: initial;
                                            height: initial;
                                            background: none;
                                            opacity: 1;
                                            border: 0px;
                                            margin: 0px;
                                            padding: 0px;
                                            max-width: 100%;
                                        "
                                        ><img
                                            alt=""
                                            aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2718%27/%3e"
                                            style="
                                                display: block;
                                                max-width: 100%;
                                                width: initial;
                                                height: initial;
                                                background: none;
                                                opacity: 1;
                                                border: 0px;
                                                margin: 0px;
                                                padding: 0px;
                                            " /></span
                                    ><img
                                        alt="test"
                                        src="https://test.kktrip.com.tw/static/menuLocal.svg"
                                        decoding="async"
                                        data-nimg="intrinsic"
                                        style="
                                            position: absolute;
                                            inset: 0px;
                                            box-sizing: border-box;
                                            padding: 0px;
                                            border: none;
                                            margin: auto;
                                            display: block;
                                            width: 0px;
                                            height: 0px;
                                            min-width: 100%;
                                            max-width: 100%;
                                            min-height: 100%;
                                            max-height: 100%;
                                        "
                                /></span>
                                <p class="chakra-text css-1wi81s">當地玩樂</p>
                            </div>
                        </a>
                        <div class="css-3cooi4">
                            <span
                                style="
                                    box-sizing: border-box;
                                    display: inline-block;
                                    overflow: hidden;
                                    width: initial;
                                    height: initial;
                                    background: none;
                                    opacity: 1;
                                    border: 0px;
                                    margin: 0px;
                                    padding: 0px;
                                    position: relative;
                                    max-width: 100%;
                                "
                                ><span
                                    style="
                                        box-sizing: border-box;
                                        display: block;
                                        width: initial;
                                        height: initial;
                                        background: none;
                                        opacity: 1;
                                        border: 0px;
                                        margin: 0px;
                                        padding: 0px;
                                        max-width: 100%;
                                    "
                                    ><img
                                        alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2718%27/%3e"
                                        style="
                                            display: block;
                                            max-width: 100%;
                                            width: initial;
                                            height: initial;
                                            background: none;
                                            opacity: 1;
                                            border: 0px;
                                            margin: 0px;
                                            padding: 0px;
                                        " /></span
                                ><img
                                    alt="blog"
                                    src="https://test.kktrip.com.tw/static/blog.svg"
                                    decoding="async"
                                    data-nimg="intrinsic"
                                    style="
                                        position: absolute;
                                        inset: 0px;
                                        box-sizing: border-box;
                                        padding: 0px;
                                        border: none;
                                        margin: auto;
                                        display: block;
                                        width: 0px;
                                        height: 0px;
                                        min-width: 100%;
                                        max-width: 100%;
                                        min-height: 100%;
                                        max-height: 100%;
                                    "
                            /></span>
                            <p class="chakra-text css-1wi81s">Blog</p>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>


    <div class="site-content">
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

    {{!-- The global footer at the very bottom of the screen --}}
    <footer class="site-footer outer">
        <div class="inner">
            <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
            <nav class="site-footer-nav">
                {{navigation type="secondary"}}
            </nav>
            <div><a href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a></div>
        </div>
    </footer>

</div>
{{!-- /.viewport --}}


{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
</script>
<script src="{{asset "built/casper.js"}}"></script>
<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
    // FitVids - Makes video embeds responsive
    $(".gh-content").fitVids();
});
</script>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
